<div id="core" pageID="161135" class="empty section" class="interior">
  <div id="interiorHeader">
    <h1 id="pageTitle">
      Altar Servers
    </h1>
  </div>
  <ul id="section1" class="region sectionRegion">
    <li id="section_63683">
      <div class="sectionInner columnSection duoColumn defaultBackground+WhiteModules">
        <div class="sectionBackground"></div>
        <div class="sectionBody">
          <ul class="modulePosition modulePositionColumn content1 largeColumn" sectionPosition="1" >
            <li id="module_2513897">
              <div class="moduleInner customModule">
                <div class="moduleBody">
                  <%= @altar_server&.content&.html_safe %>
                </div>
                <div>
                  <div class="related-articles">Related articles</div>
                  <div>
                    <% @relateds.each do |item| %>
                      <div>
                        <% if item.file_image.present? %>
                          <%= link_to "#{item.name} - Image", rails_blob_path(item.file_image, disposition: "download"), target: "_blank" %>
                        <% end %>
                      </div>
                      <div>
                        <% if item.file_pdf.present? %>
                          <%= link_to "#{item.name} - Pdf", rails_blob_path(item.file_pdf, disposition: "download"), target: "_blank"  %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
