<div class="row">
  <!-- right column -->
  <div class="col-md-12">
    <!-- Form Element sizes -->
    <!-- /.card -->
    <!-- general form elements disabled -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title">Create google map</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <!-- text input -->
            <div class="form-group">
              <label>Latitude</label>
              <%= form.text_field :lat, class: "form-control", placeholder: "Enter latitute" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- text input -->
            <div class="form-group">
              <label>Longtitude</label>
              <%= form.text_field :lng, class: "form-control", placeholder: "Enter longtitute" %>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!--/.col (right) -->
</div>
