<div class="card card-outline card-primary">
  <div class="card-header text-center">
    <a href="../../index2.html" class="h1"><b>Admin</a>
  </div>
  <div class="card-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="icheck-primary">
            <input type="checkbox" id="remember">
            <label for="remember">
              Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>
    <div class="social-auth-links text-center mt-2 mb-3">
    </div>
    <!-- /.social-auth-links -->
    <p class="mb-1">
      <a href="forgot-password.html">I forgot my password</a>
    </p>
  </div>
  <!-- /.card-body -->
</div>
