<div id="core" pageID="161135" class="empty section" class="interior">
  <div id="interiorHeader">
    <h1 id="pageTitle">
      Adult
    </h1>
  </div>
  <ul id="section1" class="region sectionRegion">
    <li id="section_63683">
      <div class="sectionInner columnSection duoColumn defaultBackground+WhiteModules">
        <div class="sectionBackground"></div>
        <div class="sectionBody">
          <ul class="modulePosition modulePositionColumn content1 largeColumn" sectionPosition="1" >
            <li id="module_2513897">
              <div class="moduleInner customModule">
                <div class="moduleBody">
                  <%= @adult&.content&.html_safe %>
                </div>
                <%= render partial: "shared/related_articles", locals: { relateds: @relateds } unless @relateds.blank? %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
