<div id="mobilePanel" class="">
  <nav id="mobileNav">
    <ul>
      <li id="sideNav_1" class="navPage navElement sideNavSelected sideNavCurrent">
        <%= link_to "Home", root_path, class: "navName" %>
        <ul></ul>
      </li>
      <li id="sideNav_2" class="navPage navElement navCollapsible navCollapsed">
        <a class="navName" href="welcome.html">
          <span>About Us</span>
          <span class="collapsibleIcon">
            <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
              <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
            </svg>
            <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
              <g>
                <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
              </g>
            </svg>
          </span>
        </a>
        <ul>
          <li id="sideNav_428693" class="navGroup navElement navCollapsible navCollapsed">
            <span class="navName">
              <span>Who We Are</span>
              <span class="collapsibleIcon">
                <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                </svg>
                <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <g>
                    <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                  </g>
                </svg>
              </span>
            </span>
            <ul>
              <li id="sideNav_165382" class="navPage navElement">
                <a class="navName" href="welcome.html">
                  <span>Welcome</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_427094" class="navPage navElement navCollapsible navCollapsed">
                <a class="navName" href="our-clergy.html">
                  <span>Our Clergy</span>
                  <span class="collapsibleIcon">
                    <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                    </svg>
                    <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <g>
                        <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                      </g>
                    </svg>
                  </span>
                </a>
                <ul>
                  <li id="sideNav_161054" class="navPage navElement">
                    <a class="navName" href="ourpastor.html">
                      <span>Our Pastor</span>
                    </a>
                    <ul></ul>
                  </li>
                  <li id="sideNav_228691" class="navPage navElement">
                    <a class="navName" href="fr-duncan-amek.html">
                      <span>Parochial Vicars</span>
                    </a>
                    <ul></ul>
                  </li>
                  <li id="sideNav_194432" class="navPage navElement">
                    <a class="navName" href="priestsinresidence.html">
                      <span>Priests in Residence</span>
                    </a>
                    <ul></ul>
                  </li>
                </ul>
              </li>
              <li id="sideNav_162530" class="navPage navElement">
                <a class="navName" href="our-deacons.html">
                  <span>Our Deacons</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_291" class="navPage navElement">
                <a class="navName" href="staff.html">
                  <span>Our Staff</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_163968" class="navPage navElement">
                <a class="navName" href="allcouncils.html">
                  <span>Our Councils</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_249" class="navPage navElement">
                <a class="navName" href="contact-us.html">
                  <span>Contact Us</span>
                </a>
                <ul></ul>
              </li>
            </ul>
          </li>
          <li id="sideNav_428692" class="navGroup navElement navCollapsible navCollapsed">
            <span class="navName">
              <span>Our Parish</span>
              <span class="collapsibleIcon">
                <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                </svg>
                <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <g>
                    <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                  </g>
                </svg>
              </span>
            </span>
            <ul>
              <li id="sideNav_428466" class="navPage navElement">
                <a class="navName" href="st-matthew-our-patron-saint.html">
                  <span>St. Matthew, Our Parish Patron</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_161145" class="navPage navElement">
                <a class="navName" href="history.html">
                  <span>History</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_427093" class="navPage navElement">
                <a class="navName" href="safe-environment.html">
                  <span>Safe Environment</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_353079" class="navPage navElement">
                <a class="navName" href="50th-anniversary.html">
                  <span>50th Anniversary</span>
                </a>
                <ul></ul>
              </li>
              <li id="sideNav_426195" class="navLink ">
                <a class="navName" href="https://smcssa.org/" target="_blank">
                  <span>Our School</span>
                </a>
              </ul>
            </li>
          </ul>
        </li>
        <li id="sideNav_162138" class="navPage navElement navCollapsible navCollapsed">
          <a class="navName" href="teaching-mass.html">
            <span>Worship</span>
            <span class="collapsibleIcon">
              <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
              </svg>
              <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <g>
                  <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                </g>
              </svg>
            </span>
          </a>
          <ul>
            <li id="sideNav_163402" class="navGroup navElement navCollapsible navCollapsed">
              <span class="navName">
                <span>Liturgical Ministries</span>
                <span class="collapsibleIcon">
                  <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                  </svg>
                  <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <g>
                      <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                    </g>
                  </svg>
                </span>
              </span>
              <ul>
                <li id="sideNav_505201" class="navPage navElement">
                  <%= link_to teaching_mass_path, class: "navName" do %>
                    <span>Teaching Mass</span>
                  <% end %>
                  <ul></ul>
                </li>
                <li id="sideNav_162139" class="navPage navElement">
                  <a class="navName" href="altarservers.html">
                    <span>Altar Servers</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_428108" class="navPage navElement">
                  <a class="navName" href="altar-society.html">
                    <span>Altar Society</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_163415" class="navPage navElement">
                  <a class="navName" href="childrenslturgy.html">
                    <span>Children's Liturgy</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_162141" class="navPage navElement">
                  <a class="navName" href="ecuharisticministry.html">
                    <span>Eucharistic Ministry</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_161143" class="navPage navElement">
                  <a class="navName" href="funeral.html">
                    <span>Funeral and Memorial Services</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_162140" class="navPage navElement">
                  <a class="navName" href="lectors.html">
                    <span>Lectors</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_162142" class="navPage navElement">
                  <a class="navName" href="musicministry.html">
                    <span>Music Ministry</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_162753" class="navPage navElement">
                  <a class="navName" href="ushers-hospitality.html">
                    <span>Ushers and Hospitality Ministries</span>
                  </a>
                  <ul></ul>
                </li>
              </ul>
            </li>
            <li id="sideNav_427823" class="navPage navElement">
              <a class="navName" href="prayer-groups.html">
                <span>Prayer Groups</span>
              </a>
              <ul></ul>
            </li>
          </ul>
        </li>
        <li id="sideNav_351" class="navPage navElement navCollapsible navCollapsed">
          <a class="navName" href="baptism.html">
            <span>Sacraments</span>
            <span class="collapsibleIcon">
              <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
              </svg>
              <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <g>
                  <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                </g>
              </svg>
            </span>
          </a>
          <ul>
            <li id="sideNav_161137" class="navPage navElement navCollapsible navCollapsed">
              <a class="navName" href="baptism.html">
                <span>Baptism</span>
                <span class="collapsibleIcon">
                  <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                  </svg>
                  <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <g>
                      <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                    </g>
                  </svg>
                </span>
              </a>
              <ul>
                <li id="sideNav_299123" class="navPage navElement">
                  <a class="navName" href="bautismo.html">
                    <span>Bautismo</span>
                  </a>
                  <ul></ul>
                </li>
              </ul>
            </li>
            <li id="sideNav_161142" class="navPage navElement">
              <a class="navName" href="reconciliation.html">
                <span>Penance</span>
              </a>
              <ul></ul>
            </li>
            <li id="sideNav_161135" class="navPage navElement">
              <a class="navName" href="eucharist.html">
                <span>Eucharist</span>
              </a>
              <ul></ul>
            </li>
            <li id="sideNav_161141" class="navPage navElement navCollapsible navCollapsed">
              <a class="navName" href="confirmation.html">
                <span>Confirmation</span>
                <span class="collapsibleIcon">
                  <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                  </svg>
                  <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                    <g>
                      <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                    </g>
                  </svg>
                </span>
              </a>
              <ul>
                <li id="sideNav_228850" class="navPage navElement">
                  <a class="navName" href="confirmacion-en-espanol.html">
                    <span>Confirmacion en Español</span>
                  </a>
                  <ul></ul>
                </li>
              </ul>
            </li>
            <li id="sideNav_161140" class="navPage navElement">
              <a class="navName" href="marriage.html">
                <span>Marriage</span>
              </a>
              <ul></ul>
            </li>
            <li id="sideNav_161139" class="navPage navElement">
              <a class="navName" href="holyorders.html">
                <span>Holy Orders</span>
              </a>
              <ul></ul>
            </li>
            <li id="sideNav_161144" class="navPage navElement">
              <a class="navName" href="anointingofthesick.html">
                <span>Anointing Of The Sick</span>
              </a>
              <ul></ul>
            </li>
            <li id="sideNav_427169" class="navPage navElement">
              <a class="navName" href="sacramental-certificates.html">
                <span>Sacramental Certificates</span>
              </a>
              <ul></ul>
            </li>
          </ul>
        </li>
        <li id="sideNav_355" class="navPage navElement navCollapsible navCollapsed">
          <a class="navName" href="childrens-programs.html">
            <span>Ministries & Organizations</span>
            <span class="collapsibleIcon">
              <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
              </svg>
              <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                <g>
                  <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                </g>
              </svg>
            </span>
          </a>
          <ul>
            <li id="sideNav_427949" class="navGroup navElement navCollapsible navCollapsed">
              <ul>
                <li id="sideNav_427162" class="navPage navElement">
                  <a class="navName" href="childrens-programs.html">
                    <span>Children's Programs</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_163414" class="navPage navElement">
                  <a class="navName" href="biblestorytime.html">
                    <span>Children's Bible Storytime</span>
                  </a>
                  <ul></ul>
                </li>
                <li id="sideNav_427405" class="navPage navElement">
                  <a class="navName" href="childrens-amp-youth-organizations.html">
                    <span>Children & Youth Organizations</span>
                  </a>
                  <ul></ul>
                </li>
              </ul>
            </li>
            <li id="sideNav_427948" class="navGroup navElement navCollapsible navCollapsed">
              <ul>
                <li id="sideNav_427946" class="navLink ">
                  <a class="navName" href="childrens-amp-youth-organizations.html" target="_self">
                    <span>Children & Youth Organizations</span>
                  </a>
                  <li id="sideNav_535680" class="navPage navElement">
                    <a class="navName" href="quince.html">
                      <span>Quinceañeras</span>
                    </a>
                    <ul></ul>
                  </li>
                </ul>
              </li>
              <li id="sideNav_427947" class="navGroup navElement navCollapsible navCollapsed">
                <span class="navName">
                  <span>Adult</span>
                  <span class="collapsibleIcon">
                    <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                    </svg>
                    <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <g>
                        <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                      </g>
                    </svg>
                  </span>
                </span>
                <ul>
                  <li id="sideNav_427164" class="navPage navElement">
                    <a class="navName" href="adult-programs.html">
                      <span>Adult Programs</span>
                    </a>
                    <ul></ul>
                  </li>
                  <li id="sideNav_161122" class="navPage navElement navCollapsible navCollapsed">
                    <a class="navName" href="adultformation.html">
                      <span>Adult Formation</span>
                      <span class="collapsibleIcon">
                        <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                        </svg>
                        <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <g>
                            <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                          </g>
                        </svg>
                      </span>
                    </a>
                    <ul>
                      <li id="sideNav_162978" class="navPage navElement">
                        <a class="navName" href="rciaforteens.html">
                          <span>RCIA for Teens</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_228836" class="navPage navElement">
                        <a class="navName" href="rcia.html">
                          <span>RCIA</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_427290" class="navPage navElement">
                        <a class="navName" href="rcia-en-espanol.html">
                          <span>RCIA en Español</span>
                        </a>
                        <ul></ul>
                      </li>
                    </ul>
                  </li>
                  <li id="sideNav_583542" class="navPage navElement">
                    <a class="navName" href="adult-formation-videos.html">
                      <span>Faith Formation Videos</span>
                    </a>
                    <ul></ul>
                  </li>
                  <li id="sideNav_427820" class="navPage navElement navCollapsible navCollapsed">
                    <a class="navName" href="adult-ministries.html">
                      <span>Adult Ministries</span>
                      <span class="collapsibleIcon">
                        <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                        </svg>
                        <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <g>
                            <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                          </g>
                        </svg>
                      </span>
                    </a>
                    <ul>
                      <li id="sideNav_163901" class="navPage navElement">
                        <a class="navName" href="acts.html">
                          <span>ACTS</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_163899" class="navPage navElement">
                        <a class="navName" href="covenantoflove.html">
                          <span>Covenant of Love</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_163932" class="navPage navElement">
                        <a class="navName" href="family-retreats.html">
                          <span>Family Retreats</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_163482" class="navPage navElement">
                        <a class="navName" href="counselingcenter.html">
                          <span>Counseling Center</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_428073" class="navPage navElement">
                        <a class="navName" href="mental-health-ministry-1.html">
                          <span>Mental Health Ministry</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_359196" class="navPage navElement">
                        <a class="navName" href="respectlife.html">
                          <span>Respect Life</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_428204" class="navPage navElement">
                        <a class="navName" href="spiritual-direction.html">
                          <span>Spiritual Direction</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_427134" class="navPage navElement navCollapsible navCollapsed">
                        <a class="navName" href="support-ministry.html">
                          <span>Support Groups</span>
                          <span class="collapsibleIcon">
                            <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
														xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
														style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                              <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                            </svg>
                            <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
														xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
														style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                              <g>
                                <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                              </g>
                            </svg>
                          </span>
                        </a>
                        <ul>
                          <li id="sideNav_427139" class="navPage navElement">
                            <a class="navName" href="coping-with-loss.html">
                              <span>Coping with Loss Group</span>
                            </a>
                            <ul></ul>
                          </li>
                          <li id="sideNav_163483" class="navPage navElement">
                            <a class="navName" href="widowsandwidowerscopingwithlossgroup.html">
                              <span>Widows and Widowers: Coping with Loss Group</span>
                            </a>
                            <ul></ul>
                          </li>
                        </ul>
                      </li>
                      <li id="sideNav_163900" class="navPage navElement">
                        <a class="navName" href="youngadultministry.html">
                          <span>YC3 <br />
                            Young Catholic Christian Community </span>
                        </a>
                        <ul></ul>
                      </li>
                    </ul>
                  </li>
                  <li id="sideNav_427787" class="navPage navElement navCollapsible navCollapsed">
                    <a class="navName" href="adult-organizations.html">
                      <span>Adult Organizations</span>
                      <span class="collapsibleIcon">
                        <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                        </svg>
                        <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <g>
                            <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                          </g>
                        </svg>
                      </span>
                    </a>
                    <ul>
                      <li id="sideNav_236365" class="navPage navElement">
                        <a class="navName" href="catholic-daughters.html">
                          <span>Catholic Daughters</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_236364" class="navPage navElement">
                        <a class="navName" href="guadalupanos.html">
                          <span>Guadalupanos</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_162962" class="navPage navElement">
                        <a class="navName" href="holynamemensclub.html">
                          <span>Holy Name/Men's Club</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_427147" class="navPage navElement">
                        <a class="navName" href="knights-of-columbus.html">
                          <span>Knights of Columbus</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_427154" class="navPage navElement">
                        <a class="navName" href="legion-of-mary.html">
                          <span>Legion of Mary</span>
                        </a>
                        <ul></ul>
                      </li>
                    </ul>
                  </li>
                  <li id="sideNav_427745" class="navPage navElement navCollapsible navCollapsed">
                    <a class="navName" href="social-service-outreach.html">
                      <span>Social Service Outreach</span>
                      <span class="collapsibleIcon">
                        <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                        </svg>
                        <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
												style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                          <g>
                            <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                          </g>
                        </svg>
                      </span>
                    </a>
                    <ul>
                      <li id="sideNav_165835" class="navPage navElement">
                        <a class="navName" href="seniorcenter.html">
                          <span>Senior Center</span>
                        </a>
                        <ul></ul>
                      </li>
                      <li id="sideNav_427792" class="navPage navElement">
                        <a class="navName" href="svdp.html">
                          <span>SVDP</span>
                        </a>
                        <ul></ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="sideNav_161055" class="navPage navElement navCollapsible navCollapsed">
            <a class="navName" href="facilities-reservation-request.html">
              <span>Prayer Garden</span>
              <span class="collapsibleIcon">
                <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                </svg>
                <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                  <g>
                    <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                  </g>
                </svg>
              </span>
            </a>
            <ul>
              <li id="sideNav_427239" class="navGroup navElement navCollapsible navCollapsed">
                <span class="navName">
                  <span>Church and Athletic Facilities</span>
                  <span class="collapsibleIcon">
                    <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                    </svg>
                    <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
										style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <g>
                        <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                      </g>
                    </svg>
                  </span>
                </span>
                <ul>
                  <li id="sideNav_583524" class="navPage navElement">
                    <a class="navName" href="facilities-reservation-request.html">
                      <span>Facilities Reservation Request</span>
                    </a>
                    <ul></ul>
                  </li>
                </ul>
              </li>
              <li id="sideNav_161739" class="navLink ">
                <a class="navName" href="https://stmatts.mhsoftware.com/" target="_blank">
                  <span>Church Facilities Calendar</span>
                </a>
                <li id="sideNav_426127" class="navLink ">
                  <a class="navName" href="https://stmatthewathleticcenterandspor.mhsoftware.com/View.html" target="_blank">
                    <span>SMAC & Sports Park Calendar</span>
                  </a>
                </ul>
              </li>
              <li id="sideNav_162372" class="navPage navElement navCollapsible navCollapsed">
                <a class="navName" href="donate.html">
                  <span>Donate</span>
                  <span class="collapsibleIcon">
                    <svg class="collapsedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <path fill="currentColor" d="M63.6,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82S63.9,39.6,63.6,39.6
						h-24v24c0,0.3-0.12,0.58-0.38,0.83S38.7,64.8,38.4,64.8h-4.8c-0.3,0-0.57-0.12-0.82-0.38S32.4,63.9,32.4,63.6v-24h-24
						c-0.3,0-0.57-0.12-0.82-0.38S7.2,38.7,7.2,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82S8.1,32.4,8.4,32.4h24v-24c0-0.3,0.12-0.57,0.38-0.82
						S33.3,7.2,33.6,7.2h4.8c0.3,0,0.57,0.12,0.82,0.38S39.6,8.1,39.6,8.4v24H63.6z" />
                    </svg>
                    <svg class="expandedIcon" version="1.1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72.03 72"
								style="enable-background:new 0 0 72.03 72;" xml:space="preserve">
                      <g>
                        <path fill="currentColor" d="M63.61,32.4c0.3,0,0.58,0.12,0.83,0.38s0.38,0.52,0.38,0.82v4.8c0,0.3-0.12,0.57-0.38,0.82
							s-0.53,0.38-0.83,0.38H8.41c-0.3,0-0.58-0.12-0.83-0.38S7.21,38.7,7.21,38.4v-4.8c0-0.3,0.12-0.57,0.38-0.82s0.53-0.38,0.83-0.38
							H63.61z" />
                      </g>
                    </svg>
                  </span>
                </a>
                <ul>
                  <li id="sideNav_444979" class="navLink ">
                    <a class="navName" href="https://stmatts.churchgiving.com/ws/opportunities/Regular" target="_blank">
                      <span>Regular Sunday Collection</span>
                    </a>
                    <li id="sideNav_240575" class="navLink ">
                      <a class="navName" href="https://stmatts.churchgiving.com/" target="_blank">
                        <span>Online Giving-Various Collections</span>
                      </a>
                      <li id="sideNav_428226" class="navLink ">
                        <a class="navName" href="https://stmatts.churchgiving.com/ws/opportunities/BuildingtheFuture"
								target="_blank">
                          <span>Building the Future</span>
                        </a>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
