<div id="features">
    <ul id="featureSlideshow" class="featureCustom">
      <li id="module_3200">
        <div class="moduleInner slideshowModule videoMode youtubeMode autoplayOn captionOn callToActionOn">
          <header></header>
          <iframe class="youtube video moduleBody" width="640" height="360"
						src="<%= introduction&.youtube_url %>?feature=player_detailpage&amp;wmode=transparent&amp;rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;cc_load_policy=0&amp;disablekb=1&amp;iv_load_policy=3&amp;controls=0"
						frameborder="0" wmode="Opaque" allowfullscreen></iframe>
          <div class="captionPositioner" width="640" height="360">
            <div class="caption">
              <span class="title"><%= introduction&.name %></span>
              <span class="captionContent extra-content"><%= introduction&.content&.html_safe %></span>
              <%= link_to "#", class: "callToAction" do %>
                Join our Parish<span class="callToActionArrow"></span>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
