<li id="section_61490">
      <div class="sectionInner columnSection duoColumn sacramentTimesSection">
        <div class="sectionBackground"></div>
        <header></header>
        <div class="sectionBody">
          <ul class="modulePosition modulePositionColumn content1 largeColumn" sectionPosition="1">
            <li id="module_2499461">
              <div class="moduleInner massTimesModule sacramentTimesModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Mass Times <br />
                        <br />
                      </span>
                    </div>
                  </h2>
                </header>
                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes massTime normal times">
                    <li class="sacramentDay group">
                      <span class="day SATURDAY_VIGIL ">Saturday <span class='colon'>:</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">5:30 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group">
                      <span class="day SUNDAY ">Sunday <span class='colon'>:</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">7:30 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                        <span class="sacramentTime noNotes">
                          <span class="startTime">9:15 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                        <span class="sacramentTime noNotes">
                          <span class="startTime">11:00 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                        <span class="sacramentTime ">
                          <span class="startTime">11:15 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes">Children's Mass in Athletic Ctr</span>
                        </span>
                        <span class="sacramentTime noNotes">
                          <span class="startTime">1:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="language SPANISH">Spanish</span>
                          <span class="nativeLanguage SPANISH">Español</span>
                          <span class="abbrLanguage SPANISH">ES</span>
                          <span class="notes"></span>
                        </span>
                        <span class="sacramentTime noNotes">
                          <span class="startTime">6:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group firstWeekday">
                      <span class="day MULTIDAY multiShort">
                        <span class='multiMonday addDash'>Mon</span>
                        <span class='multiFriday addColon'>Fri</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">6:00 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group">
                      <span class="day MULTIDAY multiShort">
                        <span class='multiMonday addDash'>Mon</span>
                        <span class='multiSaturday addColon'>Sat</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">8:15 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group">
                      <span class="day MULTIDAY multiShort">
                        <span class='multiMonday addDash'>Mon</span>
                        <span class='multiFriday addColon'>Fri</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">12:05 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                        <span class="sacramentTime noNotes">
                          <span class="startTime">6:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="language ENGLISH">English</span>
                          <span class="nativeLanguage ENGLISH">English</span>
                          <span class="abbrLanguage ENGLISH">EN</span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>
            <li id="module_2859000">
              <div class="moduleInner customModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Special Notices  <br />
                      </span>
                    </div>
                  </h2>
                </header>
                <div class="moduleBody">
                  <div style="text-align: center;">
                    <p style="text-align: left;">
                      <span style="border:none windowtext 1.0pt; font-size:13.0pt; padding:0in">
                        <span style="background:white">
                          <span arial="" style="font-family:">
                            <span style="color:black">
                              <strong>Protocols Update- 5/23/2021</strong>
                              <br />
                              <br />
                               There have been a number of changes to the Archdiocesan COVID-19 protocols:
                            </span>
                          </span>
                        </span>
                      </span>
                      <br />
                    </p>
                    <ul>
                      <li style="text-align: left;">
                        <span style="border:none windowtext 1.0pt; font-size:13.0pt; padding:0in">
                          <span style="background:white">
                            <span arial="" style="font-family:">
                              <span style="color:black">Starting Pentecost Sunday, May 23, 2021, Archbishop Gustavo
                                has reinstated the obligation to attend Sunday Mass. </span>
                            </span>
                          </span>
                        </span>
                      </li>
                      <li style="text-align: left;">
                        <span style="border:none windowtext 1.0pt; font-size:13.0pt; padding:0in">
                          <span style="background:white">
                            <span arial="" style="font-family:">
                              <span style="color:black">The Archbishop has also determined that social distancing is
                                no longer necessary in the Church. Overflow Masses in the McDonald Family Center are
                                cancelled.</span>
                            </span>
                          </span>
                        </span>
                      </li>
                      <li style="text-align: left;">
                        <span style="border:none windowtext 1.0pt; font-size:13.0pt; padding:0in">
                          <span style="background:white">
                            <span arial="" style="font-family:">
                              <span style="color:black">Our bishops have instructed us that those who have been
                                vaccinated are no longer requird to wear masks outdoors or indoors, including while
                                inside our church for Mass. Mask usage is now voluntary. </span>
                            </span>
                          </span>
                        </span>
                      </li>
                      <li style="text-align: left;">
                        <span style="border:none windowtext 1.0pt; font-size:13.0pt; padding:0in">
                          <span style="background:white">
                            <span arial="" style="font-family:">
                              <span style="color:black">During the "Signs of Peace", we ask that other than for
                                members of your household, please refrain from shaking hands but simply give a bow
                                or wave to express your "Signs of Peace" with those near you. </span>
                            </span>
                          </span>
                        </span>
                      </li>
                    </ul>
                    <div style="text-align: left;"></div>
                    <div> Please be patient as there is no perfect pathway to returning to normalcy. <br />
                      <a href="https://www.archsa.org/images/uploads/May_20_update_letter_from_Bishop_Michael_Boulette.pdf"
														target="_blank">Click here to view the letter from Auxiliary Bishop Michael Boulette</a>
                    </div>
                    <p>The Administrative Offices will continue to be open from 9:00 am to 3 pm M-F. The office will
                      be open from 9:00 am to 12 noon on Saturday.</p>
                  </div>
                  <div style="text-align: center;">
                    <hr />
                  </div>
                  <ul></ul>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
          <ul class="modulePosition modulePositionColumn content2 smallColumn" sectionPosition="101">
            <li id="module_2499462">
              <div class="moduleInner confessionTimesModule sacramentTimesModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>Confession Times <br />
                      </span>
                    </div>
                  </h2>
                </header>
                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes confessionTime large1 times">
                    <li class="sacramentDay group firstWeekday">
                      <span class="day WEDNESDAY ">Wednesday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">4:30 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="betweenTimes"> to </span>
                          <span class="endTime">6:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group">
                      <span class="day SATURDAY ">Saturday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">4:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="betweenTimes"> to </span>
                          <span class="endTime">5:30 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                  <div class="sacramentTimesNote">Confessions have been moved to the McDonald Family Center</div>
                </div>
                <footer></footer>
              </div>
            </li>
            <li id="module_2499463">
              <div class="moduleInner adorationTimesModule sacramentTimesModule">
                <header>
                  <h2 class="moduleName">
                    <div class="moduleTitle">
                      <span>**Adoration Times <br />
                      </span>
                    </div>
                  </h2>
                </header>
                <div id="sacramentTimes_15071" class="moduleBody">
                  <ul class="sacramentTimes adorationTime large1 times">
                    <li class="sacramentDay group">
                      <span class="day SUNDAY ">Sunday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">2:30 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="betweenTimes"> to </span>
                          <span class="endTime">6:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group firstWeekday">
                      <span class="day MULTIDAY multiShort">
                        <span class='multiMonday addDash'>Mon</span>
                        <span class='multiFriday addColon'>Fri</span>
                      </span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">9:00 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="betweenTimes"> to </span>
                          <span class="endTime">9:00 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                    <li class="sacramentDay group">
                      <span class="day SATURDAY ">Saturday</span>
                      <span class="sacramentGroup">
                        <span class="sacramentTime noNotes">
                          <span class="startTime">9:00 <span class='timePeriod'>AM</span>
                          </span>
                          <span class="betweenTimes"> to </span>
                          <span class="endTime">5:30 <span class='timePeriod'>PM</span>
                          </span>
                          <span class="notes"></span>
                        </span>
                      </span>
                    </li>
                  </ul>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        </div>
        <footer></footer>
      </div>
    </li>