<li id="section_62696">
  <div class="sectionInner columnSection twinColumn defaultBackground+WhiteModules">
    <div class="sectionBackground"></div>
    <header></header>
    <div class="sectionBody">
      <ul class="modulePosition modulePositionColumn content1 halfColumn" sectionPosition="1">
        <li id="module_3988277">
          <div class="moduleInner customModule">
            <header>
              <h2 class="moduleName">
                <div class="moduleTitle">
                  <span>Remembering Fr. Michel Bineen Mukad, CICM</span>
                </div>
              </h2>
            </header>
            <div class="moduleBody">
              <p>Fr. Michel’s ministry at St. Matthew was faith-filled, vibrant and engaging. He was always
                ready to serve our Lord by extending himself to others. He changed and enriched the lives he
                touched. On Sunday, August 15th, we blessed a memorial tree and plaque, honoring the life of Fr.
                Michel Mukad. The tree is located next to the rectory. Thank you to everyone who came and helped
                remember the life of Fr. Michel.  <br />
                <%= image_tag "pictures/2021/8/A3B6D0CE-C433-41F2-93F4-5A36C506E995.png" %>
                <br />
              </p>
            </div>
            <footer></footer>
          </div>
        </li>
        <li id="module_3889510">
          <div class="moduleInner imageModule  hasImage focusPointImage inset">
            <header></header>
            <div class="moduleBody">
              <div class="focusPointImageArea">
                <div class="focusPointImagePositioner">
                  <picture class="focusPointImageContainer" data-focus-x="0.0" data-focus-y="0.0">
                    <source type='image/webp'
											srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures/2021/6/Ginger3.jpg?t=1624672471000'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures/2021/6/Ginger3.jpg?t=1624672471000'>
                    <img class="focusPointImageHolder image" alt=""
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures/2021/6/Ginger3.jpg"
											style="transform: scale(1);">
                  </picture>
                </div>
              </div>
            </div>
            <footer></footer>
          </div>
        </li>
        <li id="module_3572890">
          <div class="moduleInner customModule">
            <header></header>
            <div class="moduleBody">
              <p><%= link_to image_tag("pictures/2021/2/1.jpg"), "https://www.archsa.org/archbishops-appeal" %></p>
            </div>
            <footer></footer>
          </div>
        </li>
      </ul>
      <ul class="modulePosition modulePositionColumn content2 halfColumn" sectionPosition="101">
        <li id="module_3135447" contentType="calendar">
          <div class="moduleInner calendarModule listView">
            <header>
              <h2 class="moduleName">
                <div class="moduleTitle">
                  <span>Calendar</span>
                </div>
              </h2>
            </header>
            <ul class="aggregate moduleBody">
              <li class="event group hasThumb">
                <div class="name">
                  <a href="events/blessed-carlo-acutis-first-class-relic-the-eucharistic-miracles-of-the-world-exhibit.html">Blessed
                    Carlo Acutis First Class Relic & The Eucharistic Miracles of the World Exhibit</a>
                </div>
                <div class="info">
                  <div class="date">
                    <span class="startDate">
                      <span class='friday dayName'>Friday</span>
                      <span class="comma">,</span>
                      <span class='october month'>October</span>
                      <span class='day'>8</span>
                      <span class="comma">,</span>
                      <span class="time">4:00 PM</span>
                    </span>
                    <span class="endDate">
                      <span class="dash">-</span>
                      <span class="time">7:00 PM</span>
                    </span>
                  </div>
                </div>
                <!-- -- -->
                <a class="thumb" href="events/blessed-carlo-acutis-first-class-relic-the-eucharistic-miracles-of-the-world-exhibit.html">
                  <picture>
                    <source type='image/webp'
											srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/9/Carlo_Acutis_From_EWTN_Documentary_My_Highway_to_Heaven.jpeg?t=0'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/9/Carlo_Acutis_From_EWTN_Documentary_My_Highway_to_Heaven.jpeg?t=0'>
                    <img class="thumbImage"
											alt="Blessed Carlo Acutis First Class Relic & The Eucharistic Miracles of the World Exhibit"
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2021/9/Carlo_Acutis_From_EWTN_Documentary_My_Highway_to_Heaven.jpeg">
                  </picture>
                </a>
                <div class="summary">Don't miss this opportunity! This exhibit is the result of three years of
                  research, compilation, and design by Blessed Acutis. Click the title above for more
                  information!</div>
                <a class="readMore" href="events/blessed-carlo-acutis-first-class-relic-the-eucharistic-miracles-of-the-world-exhibit.html">Read More</a>
              </li>
              <li class="event group hasThumb">
                <div class="name">
                  <a href="events/altar-society-salad-tasting-luncheon-and-style-show.html">Altar Society Salad Tasting Luncheon and Style Show</a>
                </div>
                <div class="info">
                  <div class="date">
                    <span class="startDate">
                      <span class='wednesday dayName'>Wednesday</span>
                      <span class="comma">,</span>
                      <span class='october month'>October</span>
                      <span class='day'>13</span>
                      <span class="comma">,</span>
                      <span class="time">11:30 AM</span>
                    </span>
                    <span class="endDate">
                      <span class="dash">-</span>
                      <span class="time">2:00 PM</span>
                    </span>
                  </div>
                </div>
                <!-- -- -->
                <a class="thumb" href="events/altar-society-salad-tasting-luncheon-and-style-show.html">
                  <picture>
                    <source type='image/webp'
											srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/9/flower.jpeg?t=0'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/9/flower.jpeg?t=0'>
                    <img class="thumbImage" alt="Altar Society Salad Tasting Luncheon and Style Show"
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2021/9/flower.jpeg">
                  </picture>
                </a>
                <div class="summary">Click the title above for more information on this year's Salad Tasting Luncheon and Style Show!</div>
                <a class="readMore" href="events/altar-society-salad-tasting-luncheon-and-style-show.html">Read More</a>
              </li>
              <li class="event group hasThumb">
                <div class="name">
                  <a href="acts.html" target="_self">St. Matthew Men's ACT Retreat 2021</a>
                </div>
                <div class="info">
                  <div class="date">
                    <span class="startDate">
                      <span class='thursday dayName'>Thursday</span>
                      <span class="comma">,</span>
                      <span class='october month'>October</span>
                      <span class='day'>14</span>
                    </span>
                  </div>
                </div>
                <!-- -- -->
                <a class="thumb" href="acts.html" target="_self">
                  <picture>
                    <source type='image/webp'
											srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/8/12.jpeg?t=0'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/8/12.jpeg?t=0'>
                    <img class="thumbImage" alt="St. Matthew Men's ACT Retreat 2021"
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2021/8/12.jpeg">
                  </picture>
                </a>
                <div class="summary">The ACTS retreat weekend is presented by a team of Catholic Laymen with the
                  support of Clergy and a Spiritual Director. It will take place from October 14-17, 2021. The
                  goals of the weekend retreat are to strengthen faith, renew an individual’s spiritual journey,
                  build purpose in prayer life and develops lasting friendships within a parish community. To
                  register & make a payment, please click the title above labeled "St. Matthew Men's ACT Retreat
                  2021".</div>
                <a class="readMore" href="acts.html" target="_self">Read More</a>
              </li>
              <li class="event group hasThumb">
                <div class="name">
                  <a href="events/we-are-called-bishop-flanagans-34th-annual-kc-mens-retreat.html">"We are
                    Called" - Bishop Flanagan's 34th Annual KC Men's Retreat</a>
                </div>
                <div class="info">
                  <div class="date">
                    <span class="startDate">
                      <span class='friday dayName'>Friday</span>
                      <span class="comma">,</span>
                      <span class='october month'>October</span>
                      <span class='day'>15</span>
                    </span>
                  </div>
                </div>
                <!-- -- -->
                <a class="thumb" href="events/we-are-called-bishop-flanagans-34th-annual-kc-mens-retreat.html">
                  <picture>
                    <source type='image/webp'
											srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/7/K%20of%20C.png?t=0'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/7/K of C.png?t=0'>
                    <img class="thumbImage" alt="We are Called - Bishop Flanagans 34th Annual KC Mens Retreat"
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2021/7/K of C.png">
                  </picture>
                </a>
                <div class="summary">Open to all men 15 years or older! If interested, please click the title
                  above ""We are Called" - Bishop Flanagan's 34th Annual KC Men's Retreat " to learn more!</div>
                <a class="readMore" href="events/we-are-called-bishop-flanagans-34th-annual-kc-mens-retreat.html">Read More</a>
              </li>
              <li class="event group hasThumb">
                <div class="name">
                  <a href="events/couplesretreat.html">Joy of Love Engaged Couples Retreat</a>
                </div>
                <div class="info">
                  <div class="date">
                    <span class="startDate">
                      <span class='saturday dayName'>Saturday</span>
                      <span class="comma">,</span>
                      <span class='october month'>October</span>
                      <span class='day'>16</span>
                      <span class="comma">,</span>
                      <span class="time">9:00 AM</span>
                    </span>
                    <span class="endDate">
                      <span class="dash">-</span>
                      <span class="time">7:00 PM</span>
                    </span>
                  </div>
                </div>
                <!-- -- -->
                <a class="thumb" href="events/couplesretreat.html">
                  <picture>
                    <source type='image/webp' srcset='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/7/Marriage2.jpeg?t=0'
											thumbUrl='https://d35r3vzpjv6bi5.cloudfront.net/15071/pictures-calendar-thumb/2021/7/Marriage2.jpeg?t=0'>
                    <img class="thumbImage" alt="Joy of Love Engaged Couples Retreat"
											src="https://d2y1pz2y630308.cloudfront.net/15071/pictures-calendar-thumb/2021/7/Marriage2.jpeg">
                  </picture>
                </a>
                <div class="summary">We are delighted that you have chosen to prepare for the Sacrament of
                  Marriage at St. Matthew. We invite all couples who will be married within the next eight
                  months to the "Joy of Love" Engaged Couples Retreat that is being hosted here are St. Matthew.
                  Click here for more information about this retreat!</div>
                <a class="readMore" href="events/couplesretreat.html">Read More</a>
              </li>
            </ul>
            <footer class="aggregateModuleFooter">
              <div class="calendarExportContainer infoHolder"
												data-printurl="/calendar?month=2021-09-01&print=true">
                <span class="exportCalendar infoButton icalLink">
                  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 418">
                    <title>svgs</title>
                    <path fill="currentColor" d="M358,266.27V387.8H30.14V149.35H347.41l24.67-24.67L346.34,98.93a33.74,33.74,0,0,1-6.5-39H328.21V37.57a35.88,35.88,0,0,0-10.95-26.31A35.87,35.87,0,0,0,290.95.31H276a35.88,35.88,0,0,0-26.31,10.95,35.86,35.86,0,0,0-10.95,26.31V59.93H149.37V37.57a35.88,35.88,0,0,0-10.94-26.31A35.89,35.89,0,0,0,112.11.31H97.2A35.88,35.88,0,0,0,70.89,11.26,35.88,35.88,0,0,0,59.95,37.57V59.93H30.14a28.64,28.64,0,0,0-21,8.85,28.65,28.65,0,0,0-8.85,21V387.8a28.66,28.66,0,0,0,8.85,21,28.67,28.67,0,0,0,21,8.85H358a30.23,30.23,0,0,0,29.81-29.81V236.46ZM268.6,37.57A7.17,7.17,0,0,1,276,30.12h14.9a7.17,7.17,0,0,1,7.45,7.45v67.07a7.17,7.17,0,0,1-7.45,7.45H276a7.17,7.17,0,0,1-7.45-7.45Zm-178.84,0a7.17,7.17,0,0,1,7.45-7.45h14.91a7.17,7.17,0,0,1,7.45,7.45v67.07a7.17,7.17,0,0,1-7.45,7.45H97.2a7.17,7.17,0,0,1-7.45-7.45Z" />
                    <path fill="currentColor" d="M500,74.93V190.18a14.33,14.33,0,0,1-24.54,10.13l-39.62-39.62L289.09,307.45a7.08,7.08,0,0,1-10.35,0l-25.66-25.66a7.08,7.08,0,0,1,0-10.35L399.83,124.68,360.21,85.06a14.41,14.41,0,0,1,10.13-24.53H485.59A14.61,14.61,0,0,1,500,74.93Z" />
                  </svg>
                  </span>
                  <div class="fieldHelp">
                    <a class="icsExport" href="icalendar1.ics">Sync to my Calendar</a>
                    <a class="printCalendar calendarView">Print Calendar</a>
                    <a class="printCalendar listView">Print Event List</a>
                  </div>
                </div>
                <a href="events2679.html?page=1" class="moreEvents">More Events</a>
              </footer>
            </div>
          </li>
          <li id="module_2649714">
            <div class="moduleInner customModule">
              <header></header>
              <div class="moduleBody">
                <p><%= image_tag("pictures/2020/3/meditation.jpg") %></p>
              </div>
              <footer></footer>
            </div>
          </li>
        </ul>
      </div>
      <footer></footer>
    </div>
  </li>
