<li id="section_61491">
  <div class="sectionInner buttonsSection hasFixedHeight twoRow threeAcross hasTextModule lightGrayBackground hasBackgroundImage">
    <div class="sectionBackground"
			style='background-image: url(<%= image_tag "pictures/2020/1/anotherInteriorBackground_02.png" %>);'></div>
    <header>
      <h2 class="sectionName">
        <div class="sectionTitle">
          <span>Discover Saint John the Evangelist Catholic Church Boca Raton</span>
        </div>
      </h2>
    </header>
    <div class="sectionBody">
      <ul class="modulePosition notSortable titlePosition hideMoveHandle" sectionPosition="1">
        <li id="module_2499466">
          <div class="moduleInner customModule">
            <header></header>
            <div class="moduleBody">
              <p>Come find out how we can serve you and how you can serve at Saint John the Evangelist Catholic Church Boca Raton.</p>
            </div>
            <footer></footer>
          </div>
        </li>
      </ul>
      <div class="buttonRow buttonRow1 wrap-gallery-image">
        <% @gallery_image&.contents&.each_with_index do |item, index| %>
          <ul class="modulePosition notSortable buttonPosition swappable_61491" sectionPosition="<%= index %>">
            <li id="module_2499467" class="sectionButtonModule">
              <div class="moduleInner buttonModule buttonModule1 focusPointImage fixed">
                <header></header>
                <div class="moduleBody">
                  <a href="pastors-message.html" target="_self"
                      class="buttonModuleButton firstButton  customButton hasLabel hasSubtext hasImage"
                      buttonName="Pastor&apos;s Message">
                    <span class="buttonBackground">
                      <div class="focusPointImageArea">
                        <div class="focusPointImagePositioner">
                          <picture class="focusPointImageContainer" data-focus-x="0.0" data-focus-y="0.0">
                            <%= image_tag item, class: "focusPointImageHolder image extra-gallery-image-detail", style: "transform: scale(1);" %>
                          </picture>
                        </div>
                      </div>
                    </span>
                  </a>
                </div>
                <footer></footer>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <footer></footer>
  </div>
</li>
