<div id="core" pageID="1" class="custom section" class="home">
  <% cache @introduction do %>
    <%= render "description", {introduction: @introduction}  %>
  <% end %>
  <ul id="section1" class="region sectionRegion">
    <%= render "section1" %>
    <%= render "section2" %>
    <%= render "section3" %>
    <%# render "section4" %>
  </ul>
</div>
