.contact-btn-submit {
  margin-left: 100px;
  input.btn-contact {
    width: 100px;
    background-color: indianred;
    color: white;
    border-color: beige;
  }
}
.logo-linked {
  object-fit: fill;
  width: 204px;
  height: 76px;
}
div.formStyling.moduleBody.group.wrap-contact {
  display: flex;
  justify-content: center;
}
div.moduleInner.adorationTimesModule.sacramentTimesModule.custom-adoration {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.wrap-masses {
  padding: 15px 30px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
}
.wrap-text-notice {
  font-size: 16px !important;
}
.related-articles {
  font-weight: bold;
  font-size: 24px;
}
div.custom-logo-header {
  width: 240px !important;
  height: 80px !important;
  top: 56px !important;
  left: -11px !important;
}
.customStyleSection2 {
  color: rgb(0, 130, 153);
  font-size: 36px;
  font-weight: bold;
}
