.contact-btn-submit {
  margin-left: 100px;
  input.btn-contact {
    width: 100px;
    background-color: indianred;
    color: white;
    border-color: beige;
  }
}
.logo-linked {
  object-fit: fill;
  width: 204px;
  height: 76px;
}
div.formStyling.moduleBody.group.wrap-contact {
  display: flex;
  justify-content: center;
}
