.section-btn-group {
  padding: 0.5rem .5rem;
}

.section-btn-group-wrap {
  padding: 0.5rem .5rem;
}

.wrap-img {
  text-align: center;
}

.logo-wrap {
  width: 101px;
  border: 1px solid green;
  border-radius: 50%;
}
.wrap-edit-user {
  width: 100%;
  padding: 10px;
}
.display-flex {
  display: flex;
}

.custom-img {
  width: 200px;
  height: 200px;
}
.gallery-custom {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  position: relative;
}
.gallery-item {
  padding: 0 10px;
}
.gallery-icon-delete-gallery {
  position: absolute;
  top: 2px;
  cursor: pointer;
}

// admin user page
.admin-logo-icon {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
}

.user-logo-icon {
  width: 70px !important;
  height: 70px !important;
}

.admin-logo-icon-show {
  width: 140px !important;
  height: 140px !important;
  border-radius: 50%;
}
.error-message {
  color: red;
  font-weight: bold;
  padding: 10px;
}
