.section-btn-group {
  padding: 0.5rem .5rem;
}

.section-btn-group-wrap {
  padding: 0.5rem .5rem;
}

.wrap-img {
  text-align: center;
}

.logo-wrap {
  width: 101px;
  border: 1px solid green;
  border-radius: 50%;
}
.wrap-edit-user {
  width: 100%;
  padding: 10px;
}
