<div id="id_gallery" class="gallery gallery-custom">
  <% photo_galleries.each do |item| %>
    <div class="gallery-item">
      <%= link_to full_path_image(item.file_image), target: "_blank" do %>
        <%= cl_image_tag(item.file_image.key, format: :jpg , class: "custom-img") %>
      <% end %>
    </div>
  <% end %>
</div>
