<div id="interiorHeader">
  <h1 id="pageTitle">
    Photo Gallery
  </h1>
</div>
<div class="wrap-gallery">
  <% @category_galleries.each do |item| %>
    <div class="container-gallery">
      <%= link_to item.enable_google_photo ? item.link_google_photo : photo_gallery_show_path(item.id) do %>
        <%= cl_image_tag(item.photo_galleries&.first&.file_image.key, format: :jpg, title: item.name, class: "image-gallery") %>
        <div class="overlay-gallery"><%= item.name %></div>
      <% end %>
    </div>
  <% end %>
</div>
