/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require library/default-skin
 *= require library/photoswipe
 *= require library/theme
 *= require_self
 */

 span.captionContent.extra-content {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  font-weight: bold !important;
  color: whitesmoke !important;
 }
img.focusPointImageHolder.image.extra-gallery-image-detail.imageLoaded {
  width: 100% !important;
  object-fit: contain;
}
