@import "library/default-skin";
@import "library/photoswipe";
@import "library/theme";
@import "library/custom";

span.captionContent.extra-content {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
  font-weight: bold !important;
  color: whitesmoke !important;
}
img.focusPointImageHolder.image.extra-gallery-image-detail.imageLoaded {
  width: 100% !important;
  object-fit: contain;
}
#core.duo #content1 {
  width: 100%;
}
.columnSection .content1 {
  width: 100%;
}
div#interiorHeader {
  text-align: center;
}
