<%= render "admin/shared/bread_crumb", name: {title: "Update user", bread_crumb: "Top"} %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col -->
      <!-- /.tab-pane -->
      <!-- /.tab-pane -->
      <%= form_with model: @user, url: admin_user_path(@user), class: "form-horizontal wrap-edit-user" do |form| %>
        <%= render "form", form: form %>
      <% end %>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
