<footer class="main-footer">
  <strong>Copyright &copy; 2021-<%= Time.zone.now.year %> Saint John the Evangelist Catholic Church Boca Raton</a>.</strong>
All rights reserved.
<div class="float-right d-none d-sm-inline-block">
  <b>Version</b> 1.0
</div>
</footer>
